RewriteEngine On
#RewriteRule ^\.htaccess$ - [F]

#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ /web/index.php [NC,L]

#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{REQUEST_URI} ^/dayside/.*
#RewriteRule ^(.*)$ /../dayside/

RewriteCond %{REQUEST_URI} !^/web/.*$
RewriteCond %{REQUEST_URI} !^/dayside/.*$
RewriteCond %{REQUEST_URI} !^/back/.*$
RewriteRule ^(.*)$ /web/$1

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]

#RewriteRule ^web/.*$ /web/index.php [NC,L]

