#loginForm{
    margin: auto auto;
    width: 300px;
}

#loginButton{
    width: inherit;
}

.container{
    margin: 60px auto;
}

#calendar{
    text-align: center;
    margin: auto;
}

.color-picker-box {
    display:block;
    border-top:1px solid;
    border-color:inherit;
    float:left;
    width:10%;
    height:16px;
    cursor:pointer;
}